<h1>"<%= current_user.name %>" Profile</h1>
<p><h1>My photos: <%= link_to 'Create new photo', new_photo_path, class: 'btn btn-default'%></p></h1>  
  <table border="1" width="100%" cellpadding="5">
     <tr>
     <% current_user.photos.each do |photo| %>
      <th>Photo</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Actions</th>
     </tr>
     <tr>
      <td><%= image_tag photo.image.url(:thumb) %></td>
      <td><b><%= photo.name %></b></td>
      <td><b><%= photo.desc %></b></td>
      <td><b><%= link_to 'Remove', photo_path(photo.id), method: :delete, data: {confirm: 'Вы уверены?'} %></b></td>
    </tr>
 <% end %>
   </table>